---
layout: list
title: Archive
category: archive
---

<div class="posts">
    {% for post in site.posts %}
    <article class="post-preview">
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
        {{ post.date | date_to_string }}
      </time>
      {% if post.description %}
        <p class="post-description">{{ post.description }}</p>
      {% endif %}
    </article>
    {% endfor %}
  </div>