<header class="masthead">
  <div class="container">
    <nav class="nav">
      <div class="nav-links">
        <a href="/" class="nav-item">About</a>
        <a class="nav-item" href="{{ site.baseurl }}/stadium">Stadium</a>
        <a class="nav-item" href="{{ site.baseurl }}/demos">New Demos</a>
        <a class="nav-item" href="{{ site.baseurl }}/builds">New Builds</a>
        <a class="nav-item" href="{{ site.baseurl }}/theotherstuff">The Other Stuff</a>
      </div>
    </nav>
  </div>

</header>