<header class="masthead">
  <div class="container">
    <nav class="nav">
      <div class="nav-links">
        <a href="/" class="nav-item">About</a>
        <a class="nav-item" href="{{ site.baseurl }}/newstadium">New Stadium</a>
        <a class="nav-item" href="{{ site.baseurl }}/newdemos">New Demos</a>
        <a class="nav-item" href="{{ site.baseurl }}/newbuilds">New Builds</a>
        <a class="nav-item" href="{{ site.baseurl }}/theotherstuff">The Other Stuff</a>
      </div>
    </nav>
  </div>

</header>