// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 45rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

:root {
  --font-size-base: 1rem;
  --font-size-small: 0.9rem;
  --font-size-footer: var(--font-size-base);
}

// Header styles
.masthead {
  margin-bottom: 2rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 1rem;
  
  a {
    text-decoration: none;
    color: var(--body-color);
  }
}
// Footer styles
footer {
  margin-top: calc(var(--spacer-3) * 2);
  margin-bottom: calc(var(--spacer-3) * 2);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-link {
  color: var(--body-color);
  text-decoration: none;
  
  &:hover {
    color: var(--link-hover-color);
  }
}

.footer-copyright {
  font-size: 0.8rem;
  line-height: 1;
}

// Post list styles
.post-list-container {
  max-width: 48rem;
  margin: 0 auto;
}

.post-item {
  margin-bottom: 0.125rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
  .post-title {
    a {
      text-decoration: none;
      color: var(--body-color);
      
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
}