.masthead {
  padding-top: calc(var(--spacer-3) * 2);
  padding-bottom: var(--spacer-3);
  margin-bottom: var(--spacer-3);
  max-width: 75%;           // Changed from 48rem
  width: 100%;
  margin-left: 0;           // Changed from auto
  margin-right: auto;       // Keep this as auto

  .container {
    width: 100%;
    
  }
}

.nav {
  margin-top: 1rem;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  width: fit-content;
}

.nav-item,
.nav-item:link,
.nav-item:visited {
  text-decoration: none !important;
  color: var(--body-color);
  
  &:hover {
    color: #B4B4B4;
  }
}

@media (max-width: 600px) {
  .masthead .container {
    display: flex;
    flex-direction: column;
  }
  
  .nav-links {
    gap: 2rem;
    justify-content: flex-start;
  }

  .nav-item {
    font-size: 0.95rem;
    line-height: 0.75;
  }
}

.social-links {
  display: flex;
  gap: var(--spacer);
}

.social-link {
  color: var(--body-color);
  text-decoration: none;
  
  &:hover {
    color: #B4B4B4;
  }
}